.banner {
  height: 150px;
  background-color: #ffffff;
  background-image: url('/images/logo.jpg');
  background-repeat: no-repeat;
  background-size: 600px 74px;
  background-position: center;
}

.article-individual {
  margin: auto;
  background-color: hotpink;
}

footer {
  text-align: center;
}

nav ul{
  display: flex;
  justify-content: space-around;
}

ul li{
  display: inline;
}

a {
  color: black;
  text-decoration: none;
}

.articles-container{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: auto;
  margin-top: 50px;
}

.article-container-item{
  width: 320px;
  margin: 10px;
  grid-row-start: 1;
  background-color: #ebebeb;
  padding-bottom: 15px;
  color: #2e2e2e;
}

.article-link{
  text-align: right;
}
